
<profiles>
  <profile>
    <id>visualpath-vprofile-maven-repo</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>visualpath-vprofile-maven-repo</id>
        <url>https://visualpath-339712930264.d.codeartifact.us-east-1.amazonaws.com/maven/vprofile-maven-repo/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<servers>
  <server>
    <id>visualpath-vprofile-maven-repo</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<mirrors>
  <mirror>
    <id>visualpath-vprofile-maven-repo</id>
    <name>visualpath-vprofile-maven-repo</name>
    <url>https://visualpath-339712930264.d.codeartifact.us-east-1.amazonaws.com/maven/vprofile-maven-repo/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
